---
layout: home
---
<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Menu">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="menu">
  <ul class="navbar-nav mr-auto">
<li class="nav-item">
        <a class="nav-link" href="#imo">IMO</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="#rmm">RMM</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="#cgmo">CGMO</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="apmo.html#apmo">APMO</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="#people">인물</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="#school">학교</a>
</li>
</ul>
</div>
</nav>
<h1 id="imo" class="clearfix">국제수학올림피아드(IMO) 한국대표단</h1>
{%include imolist.html%}
<h1 id="rmm">루마니아 수학마스터 대회(RMM) 한국대표단</h1>
{%include rmmlist.html%}
<h1 id="cgmo">중국여자수학올림피아드(CGMO) 한국대표단</h1>
{%include cgmolist.html%}
<h1 id="people">인물</h1>
{%include index.html%}
<h1 id="school">학교</h1>
{%include schoolindex.html %}

<!-- This loops through the paginated posts -->
{% for post in site.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}
