{% for i in site.data.cgmo %}
<div class="row  alert alert-info" id="CGMO{{i.year}}">
  <div class="col-sm-3"><strong>{{i.year}}년</strong></div>
  <div class="col-sm-9 text-truncate">{{i.country|default:""}} {{i.city|default:""}}</div>
  </div> <!--row for year -->

  <!-- 단장/부단장/참관인 -->
  {% assign roles = site.data.cgmoteacher|where: "year",i.year |  map:"role"|uniq %}
  {% for r in roles %}
  {% assign teacher = site.data.cgmoteacher | where: "year", i.year | where:"role",r %}
  <div class="row teacher">
  <div class="col-sm-2 text-sm-right role">{{r}}</div>
   <div class="col-sm-10">
     {% for  t in teacher %}
     {% include linkpeople.html name=t.name aff=t.aff %}
     {% endfor %}
   </div>
   </div>  <!-- row for roles -->
   {%endfor%}
   <!-- 학생 -->
   {% assign students = site.data.cgmo-korea |where:"year",i.year|sort: "korname" %}
   {% for s in students %}
   <div class="student">
   <div class="row">
   <div class="col-sm-2 text-sm-right text-nowrap role">대표학생</div>
   <div class="col-sm-8">{% include linkpeople.html name=s.korname aff=s.school %}
     <small class="small">{%include history.html name=s.korname%}</small>
     </div>
   <div class="col-sm-2 text-sm-right award">
     {% case s.award %}
     {% when "Gold medal" %}(금)
     {% when "Silver medal" %}(은)
     {% when "Bronze medal" %}(동)
     {% when "Honourable mention" %}(장려)
     {% when "금" %}(금)
     {% when "은" %}(은)
     {% when "동" %}(동)
     {% when "장려" %}(장려)
     {%endcase%}
   </div>
     </div>
     {% for st in site.data.people|where: "name",s.korname %}
     {% if st.name==s.korname %}
     <div class="row">
     <div class="col-sm-8 offset-4 small">
              {%- if st.website -%}
       <a href="{{st.website}}">{%endif%}{{st.aff|strip_html}}
       {%-       if st.website -%}</a>{%- endif -%}
     </div></div>
     {%endif %}
     {%endfor%}
     </div>
   {%endfor %}
{% endfor %}
