{%- assign years=site.data.fkmo-korea|map:"year"|sort|uniq -%}
{%- for i in years -%}
<div class="row alert alert-success">
<div class="col-sm-3" id="FKMO{{i}}">
{{i}}년 {{i|minus:1987}}회
  </strong></div>
  <div class="col-sm-4 text-truncate"></div>
  <div class="col-sm-5 text-sm-right" >
</div>
  </div> <!--row for year -->

   {%- assign students = site.data.fkmo-korea |where:"year",i| group_by:"award" -%}
   {%- for item in students -%}
   <div class="student">
   <div class="row">
   <div class="col-sm-2">{{item.name}}</div>
   <div class="col-sm-10">
     {%- for s in item.items -%}
     {% include linkpeople.html name=s.korname aff=s.school %}
     {% endfor %}
   </div>
   </div> <!-- row --> 
   </div>
   {%-endfor -%}
{%- endfor -%}
