{%- assign name=include.name -%}
{%- assign imohistory = site.data.imo-korea | where:"korname",name|map:"year"|sort -%}
{%- assign cgmohistory = site.data.cgmo-korea | where:"korname",name|map:"year"|sort -%}
{%- assign rmmhistory = site.data.rmm-korea | where:"korname",name|map:"year"|sort -%}
{%- assign imoteacher = site.data.teacher | where:"name",name |sort:"year" -%}
{%- assign cgmoteacher = site.data.cgmoteacher | where:"name",name|sort:"year" -%}
{%- assign rmmteacher = site.data.rmmteacher | where:"name",name|sort:"year" -%}

{%- for y in imohistory -%}
<a href="#IMO{{y}}" class="history">IMO{{y}}</a>
{% endfor %}
{%- for i in imoteacher -%}
<a href="#IMO{{i.year}}" class="history">IMO{{i.year}}{{i.role}}</a>
{% endfor %}
{%- for y in rmmhistory -%}
<a href="#RMM{{y}}" class="history">RMM{{y}}</a>
{% endfor %}
{%- for i in rmmteacher -%}
<a href="#RMM{{i.year}}" class="history">RMM{{i.year}}{{i.role}}</a>
{% endfor %}
{%- for y in cgmohistory -%}
<a href="#CGMO{{y}}" class="history">CGMO{{y}}</a>
{% endfor %}
{%- for i in cgmoteacher -%}
<a href="#CGMO{{i.year}}" class="history">CGMO{{i.year}}{{i.role}}</a>
{% endfor %}

