{%- assign people1 = site.data.imo-korea|map: "korname"-%}
{%- assign people2 = site.data.cgmo-korea|map: "korname"-%}
{%- assign people3 = site.data.rmm-korea|map: "korname" -%}
{%- assign people4 = site.data.apmo-korea|map: "korname" -%}
{%- assign people5 = site.data.teacher |map:"name"-%}
{%- assign people6 = site.data.cgmoteacher |map:"name"-%}
{%- assign people7 = site.data.rmmteacher |map:"name"-%}
{%- assign people8 = site.data.schoolteacher |map:"name"-%}
{%- assign people9 = site.data.fkmo-korea|map: "korname" -%}
{%- assign people10 = site.data.kmo-korea|map: "korname" -%}
{%- assign people11 = site.data.kmoj-korea|map: "korname" -%}
{%- assign people = people1|concat:people2|concat:people3|concat:people4|concat:people5|concat:people6|concat:people7|concat:people8|concat:people9|concat:people10|concat:people11|compact|sort|uniq -%}
{%- for p in people -%}
<div class="row studentindex">
<div class="col-sm-2 name" id="{{p}}">{{p}}</div>
<div class="col-sm-10">{%-include history.html name=p -%}
     {%- assign st= site.data.people|where: "name",p|first -%}
     {%- if st -%}
  <br/>
  {%- if st.website -%}
       <a href="{{st.website}}">{%-endif-%}{{st.aff|strip_html}}{%-
       if st.website -%}</a>{%-endif-%}
     {%-endif -%}
</div>
</div>
{%- endfor -%}