{%- assign people1 = site.data.imo-korea|map: "korname" |uniq-%}
{%- assign people2 = site.data.cgmo-korea|map: "korname" |uniq-%}
{%- assign people3 = site.data.rmm-korea|map: "korname" |uniq -%}
{%- assign people4 = site.data.apmo-korea|map: "korname" |uniq -%}
{%- assign people5 = site.data.teacher |map:"name" |uniq-%}
{%- assign people6 = site.data.cgmoteacher |map:"name" |uniq-%}
{%- assign people7 = site.data.rmmteacher |map:"name" |uniq-%}
{%- assign people8 = site.data.schoolteacher |map:"name" |uniq-%}
{%- assign people9 = site.data.fkmo-korea|map: "korname" |uniq -%}
{%- assign people10 = site.data.kmo-korea|map: "korname" |uniq -%}
{%- assign people11 = site.data.kmoj-korea|map: "korname"  |uniq -%}
{%- assign people = people1|concat:people2|concat:people3|concat:people4|concat:people5|concat:people6|concat:people7|concat:people8|concat:people9|concat:people10|concat:people11|compact|uniq|sort -%}
{%- for p in people -%}
<div class="row studentindex">
<div class="col-sm-2 name" id="{{p}}">{{p}}</div>
<div class="col-sm-10">{%-include history.html name=p -%}
     {%- assign st= site.data.people|where: "name",p|first -%}
     {%- if st -%}
  <br/>
  {%- if st.website -%}
       <a href="{{st.website}}">{%-endif-%}{{st.aff|strip_html}}{%-
       if st.website -%}</a>{%-endif-%}
  {%-endif -%}
	 {%- if st.mathgen -%}
	 <a href="https://www.mathgenealogy.org/id.php?id={{st.mathgen}}">🎓</a>{%-endif-%}  
</div>
</div>
{%- endfor -%}