{%- for i in site.data.rmm -%}
<div class="row alert alert-success">
  <div class="col-sm-3" id="RMM{{i.year}}"><strong><a 
    href="http://rmms.lbi.ro/rmm{{i.year}}/" target="rmm">{{i.year}}년 {{i.year|minus:2008}}회</a></strong></div>
  <div class="col-sm-4 text-truncate">{{i.country|default:""}} {{i.city|default:""}}</div>
  <div class="col-sm-5 text-sm-right" ><a href="http://rmms.lbi.ro/rmm{{i.year}}/index.php?id=results_math">{{ i.teams |append:"개" | default: ""}} 참가팀 중 {{i.ranking}}위</a></div>
  </div> <!--row for year -->

  <!-- 단장/부단장/참관인 -->
  {%- assign roles = site.data.rmmteacher|where: "year",i.year |  map:"role"|uniq -%}
  {%- for r in roles -%}
  {%- assign teacher = site.data.rmmteacher | where: "year", i.year | where:"role",r -%}
  <div class="teacher">
  <div class="row">
  <div class="col-sm-2 text-sm-right role">{{r}}</div>
   <div class="col-10">
     {%- for  t in teacher -%}
     {%- include linkpeople.html name=t.name aff=t.aff -%}
     {%- endfor -%}
   </div>
   </div>  <!-- row for roles -->
   </div>
   {%-endfor-%}
   <!-- 학생 -->
   {%- assign students = site.data.rmm-korea |where:"year",i.year|sort: "korname" -%}
   {%- for s in students -%}
   <div class="student">
   <div class="row">
   <div class="col-sm-2 text-sm-right role text-nowrap">대표학생</div>
   <div class="col-sm-8">{%- include linkpeople.html name=s.korname aff=s.school -%}
     <small class="small">{%-include history.html name=s.korname-%}</small>
     </div>
   <div class="col-sm-2 text-sm-right award">{{s.rank}}위 
     {%- case s.award -%}
     {%- when "Gold medal" -%}(금)
     {%- when "Silver medal" -%}(은)
     {%- when "Bronze medal" -%}(동)
     {%- when "Honourable mention" -%}(장려)
     {%- when "금" -%}(금)
     {%- when "은" -%}(은)
     {%- when "동" -%}(동)
     {%- when "장려" -%}(장려)
     {%-endcase-%}
   </div>
     </div>

     {%- assign st =site.data.people|where: "name",s.korname |first-%}
     {%- if st and st.aff -%}
     <div class="row">
     <div class="col-sm-8 offset-sm-4 small">
              {%- if st.website -%}
       <a href="{{st.website}}">{%-endif-%}{{st.aff|strip_html}}{%-
       if st.website -%}</a>{%-endif-%}
     </div></div>
     {%-endif -%}
     </div>
   {%-endfor -%}
{%- endfor -%}
