{%- assign sc1 = site.data.imo-korea|map: "school"-%}
{%- assign sc2 = site.data.cgmo-korea|map: "school"-%}
{%- assign sc3 = site.data.rmm-korea|map: "school" -%}
{%- assign sc= sc1 |concat:sc2 |concat:sc3 | compact|sort|uniq -%}
{%- for s in sc -%}
<div class="row schoolindex">
<div class="col-sm-3 school"  id="{{s|remove:" "}}">{{s}}</div>
<div class="col-sm-9">
  {%-assign p1=site.data.imo-korea | where:"school",s | map:"korname"|compact|sort|uniq-%}
  {%-assign p2=site.data.cgmo-korea | where:"school",s | map:"korname"|compact|sort|uniq-%}
  {%-assign p3=site.data.rmm-korea | where:"school",s | map:"korname"|compact|sort|uniq-%}
  {%-assign plist=p1|concat:p2|concat:p3|compact|sort|uniq -%}
  {%for p in plist %}
  <a href="/index-people.html#{{p}}">{{p}}</a>
  {%-endfor-%}
</div>
</div>
{%- endfor -%}