{% include head.html %}
<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Menu">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="menu">
  <ul class="navbar-nav mr-auto">
<li class="nav-item">
        <a class="nav-link" href="/#imo">IMO</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="/rmm.html#rmm">RMM</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="/cgmo.html#cgmo">CGMO</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="/apmo.html#apmo">APMO</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="/winter.html#winter">겨울학교</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="/summer.html#summer">여름학교</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="/people.html#people">인물</a>
</li>
<li class="nav-item">
        <a class="nav-link" href="/school.html#school">학교</a>
</li>
</ul>
</div>
</nav>
{{ content }}
{% include foot.html %}