{% include head.html %}
{% assign year=page.path | split: "/" | last | remove: ".html" |remove: ".md" %}
{% assign title = year | append: "년 국제수학올림피아드" %}
<h1>{{title}}</h1>
<ul>
  {%  include imoyear.html year=year website=page.website%}
  {% include  showpeople.html year=year %}
{% assign students = site.data.imo-korea | where: "year", year | sort: "korname" %}
  {% if students.size >0 %}
  <li><strong>대표학생:</strong>
  <ul>
  {%endif%}
{% for s  in students %}
<li>{%include showstudent.html name=s.name surname=s.surname rank=s.rank korname=s.korname school=s.school award=s.award id=s.id %}</li>
{%endfor %}
  {% if students.size >0 %}
  </ul>
  </li>
  {%  endif%}
</ul>

{{ content }}
{% include foot.html %}